body {
	background-color: #f2f2f2;
	scroll-behavior: smooth;
	overflow-y: scroll;
	width: 100%;
	overflow-x: hidden;
}

.app__header {
	font-weight: 700;
	margin-left: 10px;
	margin-top: -15px;
	width: 100%;
}
.app__content {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.app__body {
	display: flex;
	margin: 10px;
	height: 95vh;
	overflow-x: hidden;
	justify-content: space-between;
	width: 100%;
}

.app__filter {
	flex: 0.1;
	margin-right: 0px;
	width: 100%;
}
.app__cards {
	flex: 0.9;
	background-color: #ffffff;
	margin-left: 20px;
	width: 100%;
}

.app__footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* For Tablet View */
@media (min-width: 961px) and (max-width: 1400px) {
	.app__body {
		flex-direction: row;
	}
	.app__filter {
		flex: 0.2;
	}
	.app__cards {
		flex: 0.8;
	}
}
@media (max-width: 961px) and (min-width: 820px) {
	.app__body {
		flex-direction: row;
	}
	.app__filter {
		flex: 0.25;
	}
	.app__cards {
		flex: 0.75;
	}
}

@media (max-width: 820px) and (min-width: 700px) {
	.app__filter {
		flex: 0.2;
	}
	.app__cards {
		flex: 0.8;
	}
}
/* For Mobile View */
@media (max-width: 700px) {
	.app__body {
		flex-direction: column;
	}
	.app__filter {
		width: 92%;
		margin-right: auto;
	}
	.app__cards {
		width: 92%;
		margin-top: 10px;
		margin-right: auto;
		height: 100vh;
	}
}
