.card__container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	background-color: #f2f2f2;
	flex: 1;
}

.card {
	margin-bottom: 40px;
	background-color: #ffffff;
	min-width: 150px;
	min-height: 550px;
	flex-basis: 22%;
	margin-right: 20px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	object-fit: contain;
	flex-direction: column;
}

.card__image {
	width: 80%;
	object-fit: contain;
	background-color: #f2f2f2;
	margin: 25px;
}
.card__title {
	color: #494c88;
	position: sticky;
	margin-top: -10px;
	font-weight: 900;
}

.card__content {
	margin: 0;
	position: static;
	padding: 10px;
}
.mission__list {
	color: #484c94;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 0;
	margin-left: -1%;
}
.card__launchYear {
	position: static;
}
.launch_year {
	color: #484c94;
	font-weight: 500;
}
.card__successfulLaunch {
	position: static;
}
@media (min-width: 700px) and (max-width: 1024px) {
	.card {
		flex-basis: 40%;
	}
}
@media (max-width: 700px) {
	.card__container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		scroll-behavior: smooth;
		background-color: #f2f2f2;
	}
	.card {
		margin-top: 10px;
		flex-basis: 100%;
		margin-bottom: 10px;
		padding: 10px;
		padding-right: 0;
		justify-self: center;
		align-items: center;
		margin-right: 0;
	}
	.card__image {
		width: 80%;
		object-fit: contain;
		background-color: #f2f2f2;
		margin: 25px;
	}
}
